footer {
    background: var(--bg-color);
}

.footer-links a {
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);

    transition: transform 150ms linear;
}

.footer-links a:hover {
    color: var(--accent);
    transform: translateX(3px);
}