body {
    background-color: #dda15e;
    font-family: 'Albert Sans', sans-serif;
}

.ellipsis {
    line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* HERO */
.hero-title {
    margin: 0 auto;
    line-height: 1;
    color: #283618;
    font-weight: 900;
    font-size: 4.2rem;
    max-width: 1700px;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 7.5rem;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 10rem;
    }
}

@media (min-width: 1440px) {
    .hero-title {
        font-size: 11rem;
    }
}

@media (min-width: 2560px) {
    .hero-title {
        font-size: 15rem;
    }
}

/* CART BUTTON */
.icon-badge {
    position: absolute;
    right: -10px;
    top: -5px;

    height: 24px;
    color: #000;
    padding: 0 3px;
    font-size: 14px;
    min-width: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #fbf24a;
    border: 1px solid #ffa94d;
}

/* CART MODAL */
dialog {
    border: none;
    width: 550px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#closeCart {
    top: -5px;
    right: 5px;

    cursor: pointer;
    font-size: 25px;

    transition: transform 200ms linear;
}

#closeCart:hover {
    transform: scale(1.5) rotate(180deg);
}

.cart-books-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    min-height: 500px;
}

.cart-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.cart-book-img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.cart-book-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    width: 100%;
    padding: 0 10px;
}

.book-title {
    text-align: start;
}

.book-price {
    font-weight: 800;
    padding: 1px 10px;
    border-radius: 50px;
    background-color: lightgrey;
}

/* BOOK ADDED TO CART */
.book-border {
    border-radius: 20px;
    border: 15px solid #fff;
}

/* MAIN CONTENT */
.reload-section i {
    font-size: 40px;
    cursor: pointer;

    transition: all 100ms linear;
}

.reload-section i:hover {
    color: #636363;
}

.reload-section span {
    top: -35px;
    left: -35px;

    opacity: 0;
    width: 110px;
    height: 30px;
    font-size: 16px;
    background: #fff;
    text-align: center;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 80%,
        55% 80%,
        50% 100%,
        45% 80%,
        0 80%
    );
}

.reload-section:hover span {
    opacity: 1;
    transition: opacity 150ms linear 350ms;
}

.section-title {
    font-weight: 900;
    font-size: 2.369rem;
    border-left: 6px solid #283618;
}

/* CARD */
.card {
    position: relative;
}

.card button i {
    font-size: 1.777rem;
}

.card-body {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;

    opacity: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all 150ms linear;
}

.card-body:hover {
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.card-text,
.card-title {
    color: #fff;
    font-weight: 800;
}

.card-title {
    font-size: 3.157rem;
}

.card-text {
    font-size: 2.369rem;
}

.details-icon {
    font-size: 28px;
}
