* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eaeded;
}

main,
header {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.bg-white {
  background: #fff;
}

.bg-logo {
  background: #222f3e;
}

.bg-nav {
  background: #354758;
}

.white-text,
nav a {
  color: white;
}

.blue-text {
  color: #167185;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

a {
  text-decoration: none;
}

.img-extra p,
a {
  font-size: 20px;
}

a:hover {
  color: #f56600;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  padding: 10px 20px;
}

.logo img {
  width: 150px;
}

nav ul {
  padding-left: 20px;
}

nav li {
  display: inline-block;
  padding: 10px 15px;
}

/* HEADER */
header {
  margin-top: 140px;
}

#header-title p {
  background: #f56600;
  margin: 20px 0;
  font-size: 22px;
  padding: 10px 0;
}

/* hero */
.bg-img {
  background: url(../images/bg-image.png) 50%;
  padding: 100px 0;
}

#hero-title h1 {
  padding-bottom: 30px;
  font-size: 48px;
}

#hero-title h4 {
  font-size: 25px;
}

/* CONTAINER ONE*/
.perfect-gift-ctn {
  padding: 25px 50px;
  margin: 50px 0;
}

.perfect-gift-ctn p {
  font-size: 25px;
  padding-bottom: 20px;
}

.perfect-gift-ctn p a {
  margin-left: 20px;
}

#perfect-gift-img-ctn {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#perfect-gift-img-ctn img {
  width: 390px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 5px #bbb;
}

/* FIGURES */
.banner-figure-ctn {
  margin-bottom: 40px;
}

.banner-figure-ctn img {
  width: 100%;
}

.banner-figure-ctn figcaption {
  font-size: 25px;
  margin-top: 5px;
}

.banner-figure-ctn figcaption a {
  margin-left: 10px;
}

/* EXTRA */
#extra-section-ctn {
  display: flex;
  justify-content: space-between;
}

.extra-panel-ctn {
  width: 420px;
  margin-bottom: 40px;
  padding: 30px;
}

.extra-panel-ctn h2 {
  padding-bottom: 30px;
  font-size: 30px;
}

.figure-ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.figure-img-ctn {
  margin-bottom: 20px;
  position: relative;
}

.figure-img-ctn img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}

.figure-img-ctn figcaption {
  font-size: 18px;
  margin-top: 5px;
}

.new-icon {
  scale: 35%;
  position: absolute;
  left: 70px;
  top: 70px;
}

/* NEW icon image */
/* <img class="new-icon" src="./images/new.png" alt="new item"> */

/* END OF PAGE */
#nav-foot {
  padding: 20px 0;
}

#nav-foot a {
  text-decoration: underline;
  display: inline-block;
}

#bottom-logo {
  margin: 0 auto;
  padding: 80px 0;
  width: 250px;
}
