.searchbar-container {
    padding: 1px;
    max-width: 210px;
    border-radius: 50px;
    background-color: #FFFFFF;

    transition: all 500ms ease-in-out;
}

.searchbar-container:focus-within {
    max-width: 400px;
}

.searchbar {
    border: none;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.searchbar:focus {
    border: none;
    box-shadow: none;
}

.searchbar, .searchbar-btn {
    padding: 8px 16px;
}

.searchbar-btn {
    border: none;
    border-radius: 50px;
    color: var(--text-secondary);
    background-color: #FFFFFF;
}