* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    gap: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: #612406;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    border: none;
    cursor: pointer;
    color: #612406;
    font-weight: 600;
    border-radius: 50px;
    background-color: #fde07e;
}

.btn:hover {
    background-color: #fdd34a;
}

/* Navbar */
nav {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    margin-top: 2rem;
    border-radius: 50px;
    background-color: #fef7e2;
}

nav .btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 2.2rem;
    text-transform: capitalize;
}

nav .btn-shop {
    gap: 1rem;
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 1.7rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.btn-shop img {
    max-width: 75px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
}

/* Card Product */
.card-product {
    width: 300px;
    border-radius: 70px;
    background-color: #fef7e2;
}

.card-img {
    height: 280px;
}

.card-img img {
    border-radius: 70px 70px 0 0;
}

.card-info {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 1.5rem;
}

.card-description {
    font-weight: 600;
    text-align: center;
    line-height: 1.3rem;
}

.card-description p {
    font-size: 0.9rem;
}

.card-price {
    font-weight: 500;
    font-size: 1.1rem;
}

.card-add-to-cart {
    margin: 0 auto;
    width: max-content;
    padding-bottom: 1rem;
}

.card-add-to-cart .btn {
    padding: 0.6rem 2.6rem;
}

/* Article */
.honey-article {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;

    margin: 2rem;
    padding: 2rem;
    max-width: 1700px;
    border-radius: 50px;
    background-color: #fef7e2;
}

.article-img {
    width: 600px;
}

.article-text {
    width: 600px;
}

.article-text h2 {
    font-size: 1.5rem;
}

.article-text p {
    line-height: 2rem;
    font-size: 1.1rem;
    padding: 1.5rem 1.5rem 0 0;
}
