* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #335c67;
  font-family: "Montserrat", sans-serif;
}

main,
footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  display: block;
}

p,
li,
.font-20 {
  font-size: 20px;
}

.align-center {
  text-align: center;
}

.red-text {
  color: red;
}

.grey-text {
  color: grey;
}

.uppercase-text {
  text-transform: uppercase;
}

.capital-text {
  text-transform: capitalize;
}

a:hover {
  color: red;
}

/* logo */
.header-logo {
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
}

header p {
  background: #fccb70;
  border-top: 2px solid red;
  padding: 15px 0;
}

header p span {
  font-weight: bold;
}

/* introduction */
#title {
  font-size: 68px;
  padding: 50px 5% 20px;
}

.figure-ctn {
  height: 600px;
  margin: 15px 0;
  padding-bottom: 50px;
}

.figure-ctn img {
  width: 100%;
  max-height: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 5px 5px 15px 5px #757575;
}

#feature-ctn {
  border-left: 2px solid grey;
  padding-left: 20px;
  margin: 50px 0;
}

#feature-ctn h3 {
  font-size: 22px;
}

/* ingredients & method */
.subtitle {
  font-size: 36px;
  border-bottom: 2px solid #e5e5e5;
  padding: 20px 0;
  margin-bottom: 30px;
}

.list-ctn {
  margin-bottom: 20px;
}

.list-ctn li {
  margin-left: 50px;
}

.ingredients li,
.method li p {
  padding-top: 15px;
}

/* footer */
footer p {
  padding-bottom: 50px;
}
