.searchbar-container {
    width: 100%;
    padding: 1px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

    transition: all 700ms ease-in-out;
}

@media (min-width: 1024px) {
    .searchbar-container {
        max-width: 160px;
    }

    .searchbar-container:focus-within {
        max-width: 400px;
    }
}

.searchbar {
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
}

.searchbar:focus {
    border: none;
    box-shadow: none;
}

.searchbar,
.searchbar-btn {
    padding: 8px 16px;
}

.searchbar-btn {
    border: none;
    border-radius: 50px;
    color: var(--text-secondary);
    background-color: #ffffff;
}
